<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>News</title>
</head>

<body>



  <form action="/fetch-news" method="post" id="newsform">
    <input type="text" name="category" id="category">
    <button type="submit">Send req</button>
  </form>
  <p id="news_list">{{news1}}
    <br>
    {{news2}}
    <br>
    {{news3}}
    <br>
    {{news4}}
    <br>
    {{news5}}
  </p>
  <div class="braille" id="braille" style="display: none;">
    <h3>News in Braille </h3>
    <br>
    {{news1B}}
    <br>
    {{news2B}}
    <br>
    {{news3B}}
    <br>
    {{news4B}}
    <br>
    {{news5B}}
  </div>
  <button id='btnSpeak'>Speak!</button>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=1tM6Z3pZ"></script>
  <script>
    window.addEventListener('click',onloadspeak)
 function onloadspeak(){
    console.log('run')
    responsiveVoice.speak('This is the news page')
    responsiveVoice.speak('CHoose your category: general,science,entertainment,sports,business')
  }
    function textToSpeech(input) {

      var available_voices = window.speechSynthesis.getVoices();
      var english_voice = '';
      // find voice by language locale "en-US"
      // if not then select the first voice
      for (var i = 0; i < available_voices.length; i++) {
        if (available_voices[i].lang === 'en-US') {
          english_voice = available_voices[i];
          break;
        }
      }
      if (english_voice === '')
        english_voice = available_voices[0];
      var utter = new SpeechSynthesisUtterance();
      utter.rate = 1;
      utter.pitch = 0.5;
      utter.text = input; utter.voice = english_voice;
      // speak
      window.speechSynthesis.speak(utter);
    }
responsiveVoice.enableWindowClickHook();


    if (annyang) {

      var commands = {
        'home': function () { window.open('/', '_top'); },
        'close': function () {
          window.open('/news', '_top').close();
        },
        'general': function () {
          responsiveVoice.speak('You have choosen general')
          document.querySelector('#category').value = 'general';
          document.querySelector('#newsform').submit()
        },
        'science': function () {
          responsiveVoice.speak('You have choosen science')
          document.querySelector('#category').value = 'science';
          document.querySelector('#newsform').submit()
        },
        'entertainment': function () {
          responsiveVoice.speak('You have choosen entertainment')          
          document.querySelector('#category').value = 'entertainment';
          document.querySelector('#newsform').submit()
        },
        'sports': function () {
          responsiveVoice.speak('You have choosen sports')
          document.querySelector('#category').value = 'sports';
          document.querySelector('#newsform').submit()
        },
        'business': function () {
          responsiveVoice.speak('You have choosen business')
          document.querySelector('#category').value = 'business';
          document.querySelector('#newsform').submit()
        },
        'print': function () {
          $("#braille").fadeIn();
        },
        'pause':function(){
          responsiveVoice.pause()
        },
        'resume':function(){
          responsiveVoice.resume()
        },
        'cancel':function(){
          responsiveVoice.cancel()
          responsiveVoice.speak('Speak more news to listen to more')
        },
        'More News':function(){
          window.open('/news','_top')
        }

      }

      annyang.addCallback('resultNoMatch', function (said, commandMatched, phrases) {
        console.log('not working')
        responsiveVoice.speak('Invalid keyword')
      });
    };


    annyang.addCommands(commands);

    annyang.start();
    const news_box = document.getElementById('news_list')
    console.log(news_box.textContent)
    responsiveVoice.speak(news_box.textContent+'Speak More news to listen more')



  </script>
</body>

</html>